@use "../../../styles/vars.scss" as vars;

.card {
	border-radius: 1rem;
	margin: 1.5rem;
	
	background-color: vars.$background-color-2;

	text-align: center;

	&.invisible {
		background-color: transparent;
		box-shadow: none;
	}

	&.sharp {
		border-radius: 0.3rem;
	}
}
